* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(226, 226, 226);
  font-size: 18px;
  font-family: sans-serif;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}